div {
    padding: 5px;
    border: 1px solid black;
    width: max-content;
}

.first {
    margin-top: 140px;
    animation-name: rotateItem;
    animation-duration: 3000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes rotateItem {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}